.main-container {
  background: linear-gradient(162deg, rgba(236,6,30,1) 10%, rgba(239,246,244,1) 59%, rgba(24,0,34,1) 98%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: transparent !important;
  color: #000;
  border: #000 solid 1px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;

  &:hover {
    background-color: #000 !important;
    border: #e2e8f0 solid 1px !important;
  }

  &:active {
    background-color: #000 !important;
    border: #e2e8f0 solid 1px !important;
  }

  @media screen and (max-width: 400px) {
    font-size: 15px;
    padding: 6px;
    min-width: 50px;
    
  }
}

.card:hover {
  transform: scale(1.03);
}


.accordion-button:not(.collapsed) {
  background-color: #000 !important;
  color: #e2e8f0 !important;
}


.page-link {
  color: #e2e8f0 !important;
  background-color: transparent !important;
}

.active>.page-link {
  border-color: #e2e8f0 !important;
  background-color: #e2e8f0 !important;
  color: #000 !important;
}